@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	scroll-behavior: smooth;
	scrollbar-width: thin;
	scroll-padding-top: 50px;
	margin: 0;
}

#profile {
	fill: none;
	stroke-width: 2px;
	height: 200px;
}

@layer components {
	.btn-primary {
		@apply py-2 px-5 bg-violet-500 text-white font-semibold rounded-full shadow-md hover:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-400 focus:ring-opacity-75;
	}

	.active {
		@apply text-blue-600
	}
}