---
import { getCollection } from "astro:content"
import Layout from "../../layouts/Layout.astro"
import { languages } from "../../lib/i18n"
import Link from "../Link.astro"
import { ArrowRightIcon } from "astro-feather"
import TitleGroup from "../ui/TitleGroup.astro"

const currentUrl = Astro.url.pathname.endsWith('/')? Astro.url: new URL(Astro.url.pathname.concat('/'), Astro.url)
const posts = await getCollection('blog')

const currentLanguageDescription = languages.find((language: any) => language.key === Astro.currentLocale).description

---
<Layout title={`Blog (${currentLanguageDescription})`}>
	<div class="">
		<TitleGroup  title="Blog" />
		<ul class="flex flex-col">
			{posts
				.filter(post => post.data.language === Astro.currentLocale)
				.map(({data, body, rendered, render, collection, slug, filePath}) =>
				<li class={`flex flex-col gap-4 bg-slate-50 rounded p-4`}>
					<h3 class="text-2xl">
						<Link href={new URL(slug, currentUrl).toString()}>{data.title}</Link>
					</h3>
					<div class="flex justify-between">
						<span class="text-slate-600">
							{new Intl.DateTimeFormat(Astro.currentLocale, {dateStyle: "full"}).format(data.pubDate)}
						</span>
						<Link href={slug} IconComponent={ArrowRightIcon} class="py-1 px-3 rounded " />
					</div>
				</li>)
			}
		</ul>
	</div>
</Layout>