---
const commit = import.meta.env.SOURCE_COMMIT;
const branch = import.meta.env.COOLIFY_BRANCH
---
<footer class="min-h-16 border-t flex flex-col items-center justify-center p-4 gap-2">
	<p class="text-slate-500 text-sm">
		Copyright © {new Date().getFullYear()} - Leo Carvalho
	</p>
	<p class="text-slate-500 text-sm">
		{new Date().toISOString().split('.')[0]}
	</p>
	<p class="text-slate-500 text-sm">
		<span title={commit}>{commit?.slice(7)}</span>
	</p>
</footer>