---
import profile from '../assets/profile.svg?raw'
import {t} from 'i18next'
import Socials from './Socials.astro';

---
<section id="hero" class="min-h-svh flex align-middle justify-center">
	<div id="hero-container" class="flex flex-col sm:flex-row m-auto align-middle gap-8">
		<div class="flex sm:justify-end justify-center flex-1 w-96">
			<Fragment set:html={profile} />
		</div>
		<div id="hero-right" class="flex flex-col m-0 gap-4 justify-center flex-1">
			<h1 class="!text-4xl !font-bold leading-9 text-center sm:text-left">
				<Fragment set:html={t('hero.design')} />
				<br/>
				<Fragment set:html={t('hero.develop')} />
				<br/>
				<Fragment set:html={t('hero.in_my_free_time')} />
			</h1>

			<div class="flex flex-col gap-1">
				<!-- <p class="flex gap-1 align-middle m-auto sm:ml-0" id="available">
					<Fragment set:html={circle} />
					Available for work through company
				</p> -->

				<!-- <p class="flex gap-1 align-middle m-auto sm:ml-0" id="location">
					<Fragment set:html={mapPin} />
					{t('location')}
				</p> -->


				<Socials />
			</div>
		</div>
	</div>
</section>