---
import {t} from 'i18next'
---
<select id="languages" class="bg-transparent" aria-label={t('languages')}>
	<option
	value="/en"
	{...{selected: Astro.currentLocale === 'en'}}
	class="language-option"
	>
		EN
	</option>
	<option
	value="/pt"
	{...{selected: Astro.currentLocale === 'pt'}}
	class="language-option"
	>
		PT
	</option>
</select>
<script is:inline>
	const languageSelect = document.getElementById('languages')

	languageSelect.onchange = (event) => {
		const url = window.location
		const locale = event.target.value

		localStorage.setItem('locale', locale.split('/')[1])

		url.pathname = [
			locale,
			...url.pathname.split('/').slice(2)
		].join('/')
	}
</script>