---
// For some reason if i move "import {t} from 'i18next'" down it breaks
import {t} from 'i18next';
const matches = import.meta.glob('../assets/i18n/**/translation.json', { eager: true });
const translations = Object.values(matches) as any;
---
<select id="languages" class="bg-transparent" aria-label={t('languages')}>
	{translations.map(({lang_key, lang_description}) => <option
	value={`/${lang_key}`}
	{...{selected: Astro.currentLocale === lang_key}}
	class="language-option text-right"
	>
		{lang_description}
	</option>)}
</select>
<script is:inline>
	const languageSelect = document.getElementById('languages')

	languageSelect.onchange = (event) => {
		const url = window.location
		const locale = event.target.value

		localStorage.setItem('locale', locale.split('/')[1])

		url.pathname = [
			locale,
			...url.pathname.split('/').slice(2)
		].join('/')
	}
</script>