<select id="languages" class="bg-transparent">
	<option value="/en" {...{selected: Astro.currentLocale === 'en'}} class="language-option">EN</option>
	<option value="/pt" {...{selected: Astro.currentLocale === 'pt'}} class="language-option">PT</option>
</select>
<script is:inline>
	const languageOptionElements = document.getElementsByClassName('language-option')

	for (let i = 0; i < languageOptionElements.length; i++) {
		languageOptionElements[i].onclick = () => {
			const url = window.location
			const locale = languageOptionElements[i].value

			localStorage.setItem('locale', locale.split('/')[1])

			url.pathname = [
				locale,
				...url.pathname.split('/').slice(2)
			].join('/')
		}
	}
</script>
<style>
	
</style>