---
import { GithubIcon } from "astro-feather";

interface Props {
	href: string,
	class?: string,
	'aria-label'?: string,
	IconComponent?: typeof GithubIcon,
	relMe?: boolean
}

const {href, class: className, 'aria-label': ariaLabel, IconComponent, relMe} = Astro.props
const isExternalLink = new URL(href, Astro.url).hostname !== Astro.url.hostname
---

<a
href={href} data-umami-event='link'
data-umami-event-href={href}
class={className}
aria-label={ariaLabel}
target={isExternalLink? '_blank': '_self'}
rel={relMe? 'me': ''}
>
	{ IconComponent && <IconComponent /> } <slot />
</a>