---
import { GithubIcon } from "astro-feather";

interface Props {
	href: string,
	class?: string,
	'aria-label'?: string,
	targetBlank?: boolean,
	IconComponent?: typeof GithubIcon,
	relMe?: boolean
}

const {href, class: className, 'aria-label': ariaLabel, targetBlank, IconComponent, relMe} = Astro.props

---

<a href={href} data-umami-event='link' data-umami-event-href={href} class={className} aria-label={ariaLabel} target={targetBlank? '_blank': '_self'} rel={relMe? 'me': ''}>
	{ IconComponent && <IconComponent /> } <slot />
</a>