---
import Language from '../components/Language.astro'
---
<nav class="flex justify-between fixed p-4 w-svw left-0 z-50 bg-white sm:bg-transparent">
	<span>Leo Carvalho</span>

	<div id="nav-links" class="flex gap-4">
		<a href="#hero" class="active">About</a>
		<a href="#projects">Projects</a>
		<a href="#repos">Open source</a>		
		<!-- <a href="#contact">Contact</a> -->
		<Language/>
	</div>
</nav>