---
import '../styles/global.css'

import {defaultLocale} from '../constants'
import { initI18n } from '../lib/i18n'
import Footer from './Footer.astro'
import Navigation from './Nav.astro'
import Head from './Head.astro'

await initI18n(Astro.currentLocale || defaultLocale)

interface Props {
	showLanguageMenu?: boolean,
	title: string,
}

const {title, showLanguageMenu = true} = Astro.props
---
<!doctype html>
<html lang={Astro.currentLocale}>
	<head>
		<Head title={title}/>
	</head>
	<body class={`text-slate-800 stroke-slate-800   `}>
		<Navigation showLanguageMenu={showLanguageMenu}/>
		<div class="mx-4 flex flex-col min-h-dvh justify-between">
			<!-- an empty div to push content down -->
			<div />
			<main>
				<div class="max-w-4xl m-auto">
					<slot />
				</div>
			</main>
			<Footer />
		</div>
	</body>
</html>