---
import {ChevronDownIcon, ChevronUpIcon} from 'astro-feather';
interface Props {
	anchor: string,
	direction?: 'down' | 'up',
	id?: string,
}
const {id = 'scroll', anchor, direction = 'down'} = Astro.props
---
<button class="absolute sm:right-16 right-[50%] translate-x-[50%] bottom-8 transition-all delay-500" id={id}>
	<div class="animate-bounce bg-blue-200 rounded-[50%] p-2">
		{direction === 'down' && <ChevronDownIcon />}
		{direction === 'up' && <ChevronUpIcon />}
	</div>
</button>

<script define:vars={{id, anchor}}>
	document.addEventListener('DOMContentLoaded', function() {
		const scroll = document.getElementById(id)

		if (anchor) {
			scroll?.addEventListener('click', () => {location.hash = anchor})
		}
	}, false);
</script>