---
import TitleGroup from './TitleGroup.astro'

interface Props {
	id?: string,
	title?: string,
	subtitle?: string,
	class?: string,
}
const {id, title, subtitle, class: className} = Astro.props
---
<section id={id} class={`my-32 flex flex-col align-middle justify-center max-w-3xl m-auto md:mx-auto mx-4 ${className}`}>
	{(title || subtitle) && <TitleGroup title={title} subtitle={subtitle} />}
	<slot />
</section>